<div class="ow_automargin ow_superwide">
    {form name='adminForm'}
         <table class="ow_table_1 ow_form">

           <tr> 
               <td class="ow_label">{label name="EaseSpeed"}</td>
               <td class="ow_value">{input name="EaseSpeed"} {error name='EaseSpeed'}</td>
               <td class="ow_desc ow_small"></td>
           </tr>
           <tr> 
               <td class="ow_label">{label name="Easing"}</td>
               <td class="ow_value">{input name="Easing"} {error name='Easing'}</td>
               <td class="ow_desc ow_small"></td>
           </tr>
           
           <tr> 
               <td class="ow_label">{label name="InDelay"}</td>
               <td class="ow_value">{input name="InDelay"} {error name='InDelay'}</td>
               <td class="ow_desc ow_small"></td>
           </tr>
           
           <tr> 
               <td class="ow_label">{label name="OutDelay"}</td>
               <td class="ow_value">{input name="OutDelay"} {error name='OutDelay'}</td>
               <td class="ow_desc ow_small"></td>
           </tr>
           
           <tr> 
               <td class="ow_label">{label name="bottom"}</td>
               <td class="ow_value">{input name="bottom"} {error name='bottom'}</td>
               <td class="ow_desc ow_small">{desc name="bottom"}</td>
           </tr>
           
           <tr> 
               <td class="ow_label">{label name="right"}</td>
               <td class="ow_value">{input name="right"} {error name='right'}</td>
               <td class="ow_desc ow_small">{desc name="right"}</td>
           </tr>
           
           <tr> 
               <td class="ow_label">{label name="left"}</td>
               <td class="ow_value">{input name="left"} {error name='left'}</td>
               <td class="ow_desc ow_small">{desc name="left"}</td>
           </tr>
           
           <tr> 
               <td class="ow_label">{label name="adminarea"}</td>
               <td class="ow_value">{input name="adminarea"} {error name='adminarea'}</td>
               <td class="ow_desc ow_small"></td>
           </tr>

          

           <tr>
               <td colspan="2" class="ow_submit">{submit name="saveEaseSettings" class='ow_ic_save'}</td>
               <td class="ow_desc ow_small"></td>
           </tr>
         </table>
    {/form}
</div>
