<div class="ow_automargin ow_superwide">
    {form name='form'}

    <table class="ow_table_1 ow_form">
        <tr class="{cycle name="rm" values="ow_alt1,ow_alt2"}">
        <td class="ow_label">{label name='max_video_uploadfile_size'}</td>
        <td class="ow_value">{input name='max_video_uploadfile_size' style="width:30px;"} MB  <span class="ow_small">{text key='base+max_upload_filesize' value=$maxUploadMaxFilesize}</span><br />{error name='max_video_uploadfile_size'}</td>
        <td class="ow_desc"></td>
        </tr>
    </table>
    <div class="clearfix ow_stdmargin">
        {submit name='save' class='ow_ic_save ow_submit ow_right'}
    </div>
    {/form}
</div>