<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>کاریابی</name>
    <key>jobsearch</key>
    <description>صفحه کاریابی فلان</description>
    <author>zahra</author>
    <authorEmail>plugins@shub.ir</authorEmail>
    <authorUrl>http://www.shub.ir</authorUrl>
    <developerKey>your_developer_key_here</developerKey>
    <build>1</build>
    <copyright>(C) 2009 Skalfa LLC. All rights reserved.</copyright>
    <license>The License</license>
    <licenseUrl>http://www.shub.ir/licenses/bsd-license.php</licenseUrl>
</plugin>