<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>اسکرول پیشرفته</name>
	<key>iisadvancedscroll</key>
	<description>
        ارائه دکمه‌ای برای سهولت در بالا بردن صفحاتی که ارتفاع زیادی دارند. همچنین این افزونه از اسکرول سریع به المان‌های داخل صفحه جلوگیری می‌کند.
    </description>
    <author>Yaser Alimardany</author>
    <authorEmail>yaser.alimardany@gmail.com</authorEmail>
    <authorUrl>http://shub.ir</authorUrl>
    <developerKey>1</developerKey>
    <build>10801</build>
    <copyright>All rights reserved.</copyright>
    <license>shub.ir</license>
    <licenseUrl>http://shub.ir</licenseUrl>
</plugin>
